@charset "UTF-8";
.container {
  background-color: green;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1580px) {
  .container {
    max-width: 1550px;
  }
}
@media (max-width: 1580px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1370px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

h1, .h1 {
  font-size: calc(28px + (40 - 28) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h1, .h1 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  h1, .h1 {
    font-size: 28px;
  }
}
@media (min-width: 1580px) {
  h1, .h1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h1, .h1 {
    margin-bottom: 15px;
  }
}

h2, .h2 {
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h2, .h2 {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  h2, .h2 {
    font-size: 24px;
  }
}
@media (min-width: 1580px) {
  h2, .h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h2, .h2 {
    margin-bottom: 15px;
  }
}

h3, .h3 {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h3, .h3 {
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  h3, .h3 {
    font-size: 20px;
  }
}
@media (min-width: 1580px) {
  h3, .h3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h3, .h3 {
    margin-bottom: 15px;
  }
}

h4, .h4 {
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h4, .h4 {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  h4, .h4 {
    font-size: 18px;
  }
}
@media (min-width: 1580px) {
  h4, .h4 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h4, .h4 {
    margin-bottom: 15px;
  }
}

h5, .h5 {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h5, .h5 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  h5, .h5 {
    font-size: 16px;
  }
}
@media (min-width: 1580px) {
  h5, .h5 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h5, .h5 {
    margin-bottom: 15px;
  }
}

h6, .h6 {
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / ( 1550 - 320)));
  margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / ( 1550 - 320)));
}
@media (min-width: 1580px) {
  h6, .h6 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  h6, .h6 {
    font-size: 14px;
  }
}
@media (min-width: 1580px) {
  h6, .h6 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h6, .h6 {
    margin-bottom: 15px;
  }
}

/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.25;
  font-size: 14px;
  font-family: "";
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.flexbox {
  display: flex;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: flex-start;
}

.ai-e {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.bg-cov, .bg-con {
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-cov {
  background-size: cover;
}

.bg-con {
  background-size: contain;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}